/*#region GLOBAL */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-alt-accent-clr);
  border-radius: 100px;
}

body {
  background: var(--primary-bg-clr);
  width: 100%;
  font-size: var(--fs-md);
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: var(--main-text-clr);
  --border: 0.5px solid var(--border-clr);
  --border-alt: 0.5px solid var(--secondary-text-clr);
  caret-color: var(--primary-accent-clr);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: var(--main-text-clr);
}

button svg,
a svg {
  fill: transparent;
  transition: fill var(--transition-time) ease-in-out;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-auto-rows: minmax(150px, 1fr); */
  gap: var(--space-lg);
}

.container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-lg);
  flex: 1;
}

.box {
  padding-inline: var(--space-lg);
  padding-block: var(--space-md);
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px; */
  /* max-width: 400px; */
  border-radius: var(--radius);
  border: var(--border);
  background: var(--secondary-bg-clr);
  box-shadow: var(--shadow);
  /* text-align: center; */
}

.main-link {
  color: currentColor;
  transition: color var(--transition-time) ease;
  text-decoration: underline;
}

html:not(.touch-device) .main-link:hover {
  color: var(--primary-accent-clr);
}

#submit,
.main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-sm);
  padding: 8px 20px;
  border: none;
  outline: none;
  border-radius: var(--radius);
  cursor: pointer;
  background-color: var(--primary-accent-clr);
  color: #ffffff;
  font-weight: 500;
  transition: filter var(--transition-time) ease;
}
html:not(.touch-device) #submit:hover,
html:not(.touch-device) .main-button:hover {
  filter: brightness(0.9);
}

.text-secondary {
  color: var(--secondary-text-clr);
}

.favorite-button {
  /* padding: 5px; */
  color: var(--secondary-accent-clr);
}

.favorite-button svg {
  width: 15px;
  height: 20px;
  /* object-fit: contain;
  object-position: center; */
}

.favorite-button.active svg {
  fill: currentColor;
}

html:not(.touch-device) .favorite-button:hover svg {
  fill: currentColor;
}

div.simplefavorites-modal-content {
  /* top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%); */
  width: fit-content;
  padding-inline: var(--space-lg);
  padding-block: var(--space-sm);
  border-radius: var(--radius);
  color: var(--main-text-clr);
  text-align: center;
  background-color: var(--secondary-bg-clr);
}

div.simplefavorites-modal-content-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-sm);
}

/*#endregion GLOBAL */

/*#region PROFILE */

.profile {
}

.profile__title {
  font-size: var(--fs-xl);
  margin-bottom: var(--space-lg);
  text-align: center;
}

.profile__message-container {
  text-align: center;
  margin-bottom: var(--space-lg);
}

.profile__message--success {
  color: var(--primary-accent-clr);
}

.profile__message--error {
  color: var(--error-clr);
}

.profile__wrapper {
  display: flex;
  justify-content: space-between;
  gap: var(--space-lg);
  margin-bottom: var(--space-2xl);
}

.profile__avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-md);
  margin-bottom: var(--space-lg);
}

.profile__info {
  margin-bottom: 20px;
}

.profile__info-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile__info-list li {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.profile__info-value {
  color: var(--secondary-text-clr);
}

.profile__actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: end;
}

.profile__form-buttons {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: var(--space-sm);
}

.profile__actions-link--logout {
  color: var(--secondary-accent-clr);
}

html:not(.touch-device) .profile__actions-link:hover {
  filter: brightness(0.9);
}

.profile__posts-title {
  font-size: var(--fs-lg);
  margin-bottom: var(--space-lg);
}

.profile__posts-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--secondary-text-clr);
}

html:not(.touch-device) .profile__posts-list a:hover {
  text-decoration: underline;
  color: var(--primary-accent-clr);
}

.profile__avatar-upload--hidden,
.profile__submit-button--hidden {
  display: none;
}

/* /*.profile__edit-button  */

.profile__input {
  outline: 1.5px solid transparent;
  transition: outline-color var(--transition-time) ease;
  width: 100%;
  font-size: var(--fs-md);
  line-height: 1;
  border: none;
  border-radius: var(--radius);
  padding-inline: var(--space-md);
  padding-block: var(--space-sm);
  background-color: var(--primary-bg-clr);
}

.profile__input[disabled] {
  color: var(--secondary-text-clr);
}

.profile__input::placeholder {
  color: var(--secondary-text-clr);
}

html:not(.touch-device) .profile__input:not([disabled]):hover,
.profile__input:focus {
  outline-color: var(--primary-accent-clr);
}

.profile__input:disabled {
  border: none;
  background: transparent;
  padding: 0;
}

.profile__avatar-wrapper {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

.profile__avatar-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile__edit-button--red {
  background-color: var(--secondary-accent-clr);
}

/*#endregion PROFILE */

/*#region AUTH */

.authorize {
  padding: 10px calc(var(--sidebar-width) + 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.authorize__form {
  padding-inline: var(--space-2xl);
  padding-block: var(--space-lg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 400px;
  border-radius: var(--radius);
  border: var(--border);
  background: var(--secondary-bg-clr);
  box-shadow: var(--shadow);
  text-align: center;
}

.authorize__error-message {
  font-size: var(--fs-sm);
  color: var(--error-clr);
}

.authorize__error-message a {
  text-decoration: underline;
}

.authorize__form-group,
.authorize__form-actions {
  width: 100%;
}

/* .authorize__form-group {
  display: flex;
  align-items: baseline;
  gap: var(--space-sm);
} */

.authorize__form-group label {
  font-size: var(--fs-sm);
  color: var(--secondary-text-clr);
  width: 100%;
  text-align: left;
}

.authorize__form input {
  outline: 1.5px solid transparent;
  transition: outline-color var(--transition-time) ease;
}

.authorize__form input:not([type='checkbox']) {
  width: 100%;
  font-size: var(--fs-md);
  line-height: 1;
  border: none;
  border-radius: var(--radius);
  padding-inline: var(--space-md);
  padding-block: var(--space-sm);
  background-color: var(--primary-bg-clr);
}

.authorize__form input::placeholder {
  color: var(--secondary-text-clr);
}

html:not(.touch-device) .authorize__form input:hover,
.authorize__form input:focus {
  outline-color: var(--primary-accent-clr);
}

.checkbox-label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-label .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: var(--radius);
  background-color: var(--primary-bg-clr);
  outline: 1.5px solid transparent;
  transition: outline var(--transition-time) ease;
}

html:not(.touch-device) .checkbox-label:hover input ~ .checkmark {
  outline-color: var(--primary-accent-clr);
}

.checkbox-label input:checked ~ .checkmark {
  background-color: var(--primary-accent-clr);
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.checkbox-label input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-label .checkmark:after {
  left: 6.7px;
  top: 3.4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.authorize__form-button {
  margin-block: var(--space-sm);
}

.authorize__form-links {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.authorize__form-links a {
  font-size: var(--fs-sm);
  color: var(--secondary-text-clr);
  transition: color var(--transition-time) ease;
}

html:not(.touch-device) .authorize__form-links a:hover {
  text-decoration: underline;
  color: var(--primary-accent-clr);
}

/*#endregion AUTH */

/*#region SIDEBAR */

.sidebar {
  display: flex;
  position: fixed;
  top: 10px;
  left: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  z-index: 20;
  /* align-self: start; */
  min-width: var(--sidebar-width);
  min-height: calc(100vh - 20px);
  padding: 30px 20px;
  border: var(--border);
  border-radius: var(--radius);
  /* overflow: hidden; */
  background: var(--secondary-bg-clr);
  box-shadow: var(--shadow);
}

.sidebar a {
  position: relative;
}

html:not(.touch-device) .sidebar a:hover .sidebar__text {
  visibility: visible;
  max-width: 300px;
  padding-inline: 20px;
  opacity: 1;
}

.sidebar__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  color: #fff;
  font: 700 12px/1 Poppins, sans-serif;
  background-color: #1dc6d1;
}

.sidebar__logo-icon {
}

.sidebar__nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 35px;
  width: 20px;
  padding: 0;
  list-style-type: none;
}

.sidebar__nav-link {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 10px;
  max-width: 20px;
}

.sidebar__nav-link svg {
  width: 100%;
  color: var(--secondary-icon-clr);
}

.sidebar__nav-link--active svg {
  color: var(--main-text-clr);
  fill: currentColor;
}

html:not(.touch-device) .sidebar__nav-link:hover svg,
html:not(.touch-device) .sidebar__profile:hover svg {
  color: var(--secondary-icon-clr);
  fill: currentColor;
}

.sidebar__text {
  background-color: var(--secondary-bg-clr);
  border: var(--border);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  padding-block: 8px;
  position: absolute;
  left: calc(100% + 10px);
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  max-width: 0;
  padding-inline: 0;
  overflow: hidden;
  color: var(--main-text-clr);
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  opacity: 0;
  transition: max-width var(--transition-time) ease,
    padding-inline var(--transition-time) ease,
    opacity var(--transition-time) ease;
}

.sidebar__profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: var(--secondary-icon-clr);
}

.sidebar__profile svg {
  width: 24px;
  height: 24px;
}

.sidebar__profile img {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*#endregion SIDEBAR */

/*#region TOPBAR */

.topbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--space-sm);
  z-index: 40;
}

.topbar svg {
  color: var(--secondary-icon-clr);
}

.topbar__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--space-sm);
}

.topbar__nav {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.topbar__nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 34px;
  aspect-ratio: 1;
}

.topbar__nav-item--disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.topbar__title {
  font-size: var(--fs-lg);
  line-height: 1;
  color: var(--third-text-clr);
  /* margin-right: auto; */
  text-transform: uppercase;
  background-color: var(--secondary-bg-clr);
  border-radius: var(--radius);
  padding-inline: 10px;
  padding-block: 8px;
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  background-color: var(--secondary-bg-clr);
  max-width: 15ch;
}

.topbar__title span {
  /* white-space: nowrap;
  text-overflow: ellipsis; */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
  overflow: hidden;
  height: var(--fs-lg);
}

.author .topbar__title,
.single .topbar__title {
  max-width: 30ch;
}

.topbar__theme-toggle {
  flex-shrink: 0;
  width: 34px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-full);
  box-shadow: var(--shadow);
  background-color: var(--secondary-bg-clr);
  transition: filter var(--transition-time) ease;
}

html:not(.touch-device) .topbar__theme-toggle:hover {
  filter: brightness(0.9);
}

.sun-and-moon {
  transition: rotate 0.5s ease;
}

.sun-and-moon > :is(.moon, .sun, .sun-beams) {
  transform-origin: center center;
}

.sun-and-moon > .sun {
  transition: 0.5s ease;
}

.sun-and-moon > .sun-beams {
  transition: 0.5s ease;
}

.sun-and-moon > .moon > circle {
  transition: 0.5s ease;
}

.dark-theme .sun-and-moon {
  rotate: 180deg;
}

.dark-theme .sun-and-moon > .sun {
  transform: scale(1.75);
}

.dark-theme .sun-and-moon > .sun-beams {
  opacity: 0;
}

.dark-theme .sun-and-moon > .moon > circle {
  transform: translateX(-7px);
}

.topbar__search-wrapper {
  display: flex;
  max-width: 250px;
  min-width: 200px;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
  height: 34px;
  font-size: var(--fs-md);
  line-height: 1;
  box-shadow: var(--shadow);
  background-color: var(--secondary-bg-clr);
  border-radius: var(--radius-full);
}

.topbar__search {
  border: none;
  width: 100%;
  background-color: transparent;
}

.topbar__search::placeholder {
  color: var(--secondary-text-clr);
}

/*#endregion TOPBAR */

/*#region CATEGORIES-PAGE */
.categories__section {
  margin-bottom: var(--space-lg);
}

.categories__section--collapsed .slider {
  display: none;
}

.categories__section--collapsed .categories__arrow-icon {
  transform: rotate(180deg);
}

.categories__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-md) var(--space-md);
  cursor: pointer;
}

.categories__title {
  font-size: var(--fs-lg);
  line-height: 1;
  color: var(--main-text-clr);
  text-transform: uppercase;
}

.categories__count {
  color: var(--secondary-text-clr);
  font-size: 0.9em;
}

.categories__arrow-icon {
  transition: transform var(--transition-time) ease;
}

.slider {
  position: relative;
}

.slider__container {
  display: flex;
  gap: var(--space-lg);
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-block: var(--space-lg);
}

.slider__container::-webkit-scrollbar {
  display: none;
}

.slider__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--secondary-bg-clr);
  border: var(--border);
  border-radius: 50%;
  width: 40px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: var(--shadow);
  z-index: 30;
  transition: filter var(--transition-time) ease;
}

.slider__button--prev {
  left: -10px;
}

.slider__button--next {
  right: -10px;
}

html:not(.touch-device) .slider__button:hover {
  filter: brightness(0.9);
}

.slider__button--hidden {
  display: none;
}

.slider .post {
  scroll-snap-align: center;
  flex: 0 0 400px;
  max-width: 400px;
}

/*#endregion CATEGORIES-PAGE */

/*#region CATEGORIES-WIDGET */

.categories {
  position: relative;
  min-height: 80px;
}

.categories__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-end;
  max-height: 80px;
  transition: max-height var(--transition-time) ease;
  margin-left: auto;
}

.categories__link {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  height: 34px;
  border-radius: var(--radius-full);
  background-color: var(--secondary-bg-clr);
  box-shadow: var(--shadow);
  color: var(--third-text-clr);
  padding-inline: 14px;
  transition: filter var(--transition-time) ease;
}

html:not(.touch-device) .categories__link:hover {
  filter: brightness(0.9);
}

.categories__link--active {
  color: var(--secondary-text-clr);
  background-color: var(--main-text-clr);
}

.categories__link--hidden {
  display: none;
}

.categories__list--full {
  position: absolute;
  top: 0;
  left: 0px;
  background-color: var(--primary-bg-clr);
  /* box-shadow: var(--shadow-bottom); */
  padding-bottom: var(--space-lg);
  z-index: 30;
  max-height: 500px;
}

.categories__toggle--rotate {
  transform: rotate(180deg);
}

/*#endregion CATEGORIES-WIDGET */

/*#region MAIN */
.main {
  max-width: 1440px;
  min-height: 100svh;
  margin-inline: auto;
  padding-block: 10px;
  padding-left: calc(var(--sidebar-width) + 40px);
  padding-right: var(--sidebar-width);
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  /* padding: 10px; */
  grid-column: span 12;
  margin-bottom: var(--space-lg);
}

.container-grid .header {
  grid-column: 7 / span 6;
  margin-bottom: 0;
  align-self: self-start;
}

.container-grid .box {
  grid-column: span 12;
  max-width: 400px;
  height: 100%;
  margin-inline: auto;
}

.container-grid > article:nth-of-type(1) {
  grid-column: 1 / span 6;
  grid-row: 1 / span 2;
  margin-bottom: var(--space-sm);
}

.container-grid > article:nth-of-type(1) .post__image-wrapper {
  height: 100%;
  min-height: 400px;
}

.container-grid > article:nth-of-type(1) .post-info {
  margin: -170px 0 0 15px;
}

.container-grid > article:nth-of-type(2) {
  grid-column: 7 / span 6;
  max-height: 310px;
  display: flex;
  align-items: flex-end;
  margin-bottom: var(--space-sm);
}

.container-grid > article:nth-of-type(2) .post__image-wrapper {
  width: 330px;
  aspect-ratio: 4/3;
  height: auto;
  min-height: 200px;
  min-width: 250px;
}

.container-grid > article:nth-of-type(2) .post-info {
  margin-bottom: -10px;
  margin-left: -100px;
}

/*#endregion MAIN */

/*#region POST */

.post {
  grid-column: span 4;
}

.post__image-wrapper {
  border-radius: var(--radius);
  overflow: hidden;
  max-width: 100%;
  height: 260px;
  aspect-ratio: 17/9;
}

.post--full .post__image-wrapper {
  width: 100%;
  height: 320px;
}

.post__image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-info__category ul {
  list-style: none;
}

.post-info {
  position: relative;
  border-radius: var(--radius);
  border: var(--border);
  background: var(--secondary-bg-clr);
  box-shadow: var(--shadow);
  display: flex;
  max-width: 410px;
  flex-direction: column;
  overflow: hidden;
  z-index: 10;
  padding: 12px 20px;
  margin-inline: auto;
  margin-top: -12%;
}

.post--full .post-info {
  max-width: 100%;
  margin-top: -30px;
  margin-bottom: var(--space-2xl);
}

.post-info__top {
  display: flex;
  width: 100%;
  align-items: center;
  gap: var(--space-sm);
  font-size: var(--fs-sm);
  line-height: 1.4;
  justify-content: space-between;
}

.post-info__meta {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  /* justify-content: start; */
}

.post-info__category {
  color: var(--secondary-accent-clr);
  font-weight: 500;
  text-transform: uppercase;
}

.post-info__separator {
  width: 15px;
  height: 1px;
  background-color: var(--secondary-text-clr);
}

.post-info__read-time {
  color: var(--secondary-text-clr);
  font-weight: 400;
}

.post-info__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: var(--fs-xl);
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-block: var(--space-lg);
}

.post-info__footer {
  display: flex;
  width: 100%;
  align-items: center;
  gap: var(--space-sm);
  font-size: var(--fs-md);
  /* font-weight: 500; */
  color: var(--secondary-text-clr, #c3c4c6);
  justify-content: space-between;
}

.post-info__author {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  /* justify-content: start; */
}

.post-info__author-image-wrapper {
  border-radius: var(--radius-full);
  overflow: hidden;
}

.post-info__author-image {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 36px;
}

.post__tags {
  color: var(--secondary-accent-clr);
  font-weight: 500;
  margin-bottom: var(--space-md);
}

.post__tags > a::before {
  content: '#';
  margin-right: var(--space-xs);
}

.post__content {
  color: var(--third-text-clr);
}

.post__content .wp-block-heading {
  color: var(--main-text-clr);
}

.post__comments {
  margin-top: var(--space-md);
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.comment-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

/* .comment-body {
  display: flex;
  flex-direction: column;
} */

.comment-list .children {
  list-style: none;
  margin-top: var(--space-md);
  margin-left: var(--space-lg);
}

.comment-author {
  display: flex;
  gap: var(--space-sm);
  align-items: center;
  margin-bottom: var(--space-sm);
}

.comment-meta {
  font-size: var(--fs-sm);
  color: var(--secondary-text-clr);
}

.comment-author img {
  border-radius: var(--radius-full);
}

.comment-form-comment {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  margin-bottom: var(--space-md);
}

.comment-form-comment label {
  display: none;
}
.comment-form-comment textarea {
  border: var(--border);
  border-radius: var(--radius);
  background-color: var(--primary-bg-clr);
  resize: none;
  color: inherit;
  padding: var(--space-sm);
  outline: 1.5px solid transparent;
  transition: outline-color var(--transition-time) ease;
}

html:not(.touch-device) .comment-form-comment textarea:hover,
.comment-form-comment textarea:focus {
  outline-color: var(--primary-accent-clr);
}

.comment-respond {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.form-submit {
  display: flex;
  justify-content: flex-end;
}

.logged-in-as {
  display: none;
}

.reply {
  display: flex;
  justify-content: flex-end;
  color: var(--secondary-accent-clr);
  font-size: var(--fs-sm);
}

.favorites__box {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  text-align: center;
}

.topbar__social {
  position: fixed;
  top: 10px;
  right: 0;
  min-width: var(--sidebar-width);
  color: var(--secondary-icon-clr);
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  justify-content: center;
  align-items: center;
  height: 100%;
}

.topbar__social a {
  display: flex;
  align-items: center;
  justify-content: center;
}

html:not(.touch-device) .topbar__social a:hover svg {
  fill: currentColor;
}

.post-reactions {
  margin-top: var(--space-lg);
  padding: var(--space-md);
  display: flex;
  gap: var(--space-sm);
}

.like-button,
.dislike-button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  transition: all var(--transition-time) ease;
}

.thumbs-up-icon,
.thumbs-down-icon {
  width: 24px;
  height: 24px;
  fill: var(--third-text-clr);
  transition: all var(--transition-time) ease;
}

.likes-count,
.dislikes-count {
  margin-left: var(--space-sm);
  font-size: var(--fs-sm);
  color: var(--secondary-text-clr);
}

.like-button:hover .thumbs-up-icon,
.like-button.active .thumbs-up-icon {
  /* fill: #ff6b6b; */
  fill: var(--secondary-accent-clr);
  transform: scale(1.1);
}

.dislike-button:hover .thumbs-down-icon,
.dislike-button.active .thumbs-down-icon {
  fill: #4a4e69;
  transform: scale(1.1);
}

.like-button.pulse,
.dislike-button.pulse {
  animation: pulse var(--transition-time) ease;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/*#endregion POST */

/*#region WP */
.wp-block-heading {
  margin-bottom: var(--space-md);
}

.wp-block-list {
  padding-left: var(--space-lg);
  margin-bottom: var(--space-md);
}

/*#endregion WP */

/*#region MEDIA QUERIES */

@media (max-width: 1100px) {
  .container-grid .header {
    grid-column: span 12;
    justify-content: center;
  }

  .post {
    grid-column: span 6;
  }

  .container-grid > article:nth-of-type(1) {
    grid-column: span 12;
    grid-row: auto;
  }

  .container-grid > article:nth-of-type(1) .post__image-wrapper {
    aspect-ratio: 16/9;
    height: auto;
  }

  .container-grid > article:nth-of-type(2) {
    grid-column: span 6;
    max-height: 100%;
    display: block;
    margin-bottom: 0;
  }

  .container-grid > article:nth-of-type(2) .post__image-wrapper {
    aspect-ratio: 16/9;
    min-height: 260px;
    width: auto;
  }

  .container-grid > article:nth-of-type(2) .post-info {
    margin-bottom: 0;
    margin-inline: auto;
  }

  .categories {
    display: flex;
    align-items: center;
    min-height: 40px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .categories::-webkit-scrollbar {
    display: none;
  }

  .categories__list {
    flex-wrap: nowrap;
    width: fit-content;
  }

  .categories__link {
    box-shadow: none;
  }

  .categories__link--hidden {
    display: flex;
  }
  #categories-toggle {
    display: none;
  }
}

@media (max-width: 800px) {
  .main,
  .authorize {
    padding-inline: 10px;
    padding-bottom: 90px;
  }

  .main > .topbar {
    grid-column: span 12;
    justify-content: center;
  }

  .topbar__social {
    /* top: 60px; */
    background-color: var(--secondary-bg-clr);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    gap: var(--space-lg);
    height: 34px;
    padding-inline: 10px;
    position: static;
    flex-direction: row;
  }

  .sidebar {
    display: flex;
    position: fixed;
    /* top: calc(100svh - 70px); */
    top: auto;
    bottom: 10px;
    left: 10px;
    flex-direction: row;
    /* align-self: start; */
    min-width: calc(100vw - 20px);
    max-width: calc(100vw - 20px);
    min-height: 60px;
    max-height: 60px;
    padding: 10px 20px;
  }

  .sidebar__nav-menu {
    flex-direction: row;
    width: auto;
  }

  .sidebar a:hover .sidebar__text {
    display: none;
  }

  .slider .post {
    flex: 0 0 300px;
  }
}

@media (max-width: 600px) {
  .topbar {
    flex-wrap: wrap;
  }

  .single .topbar__wrapper {
    flex-basis: 100%;
    max-width: 100%;
  }

  .main .post {
    grid-column: span 12;
  }

  .container-grid > article:nth-of-type(1) {
    margin-bottom: 0;
  }

  .container-grid > article:nth-of-type(1) .post__image-wrapper {
    height: auto;
    min-height: 260px;
  }

  .container-grid > article:nth-of-type(1) .post-info {
    margin-top: -12%;
    margin-inline: auto;
  }

  .container-grid > article:nth-of-type(2) {
    grid-column: span 12;
  }

  .post__image-wrapper {
    max-width: 100%;
    margin-inline: auto;
    height: auto;
    aspect-ratio: 16/9;
  }
}

@media (max-width: 450px) {
  .topbar__search-wrapper {
    max-width: 100%;
    width: 100%;
  }
  .profile__wrapper {
    flex-direction: column;
  }
  .profile__actions {
    align-items: center;
  }
  .profile__form-buttons {
    align-items: center;
  }
}

/*#endregion MEDIA QUERIES */
