/*#region GLOBAL */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-alt-accent-clr);
  border-radius: 100px;
}

body {
  background: var(--primary-bg-clr);
  width: 100%;
  overflow-x: hidden;
  font-size: var(--fs-md);
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: var(--main-text-clr);
  --border: 0.5px solid var(--border-clr);
  --border-alt: 0.5px solid var(--secondary-text-clr);
  caret-color: var(--primary-accent-clr);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: var(--main-text-clr);
}

button svg,
a svg {
  fill: transparent;
  transition: fill var(--transition-time) ease-in-out;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-auto-rows: minmax(150px, 1fr); */
  gap: var(--space-lg);
}

.container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-lg);
  flex: 1;
}

.box {
  padding-inline: var(--space-lg);
  padding-block: var(--space-md);
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px; */
  /* max-width: 400px; */
  border-radius: var(--radius);
  border: var(--border);
  background: var(--secondary-bg-clr);
  box-shadow: var(--shadow);
  /* text-align: center; */
}

.main-link {
  color: currentColor;
  transition: color var(--transition-time) ease;
  text-decoration: underline;
}

html:not(.touch-device) .main-link:hover {
  color: var(--primary-accent-clr);
}

#submit,
.main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-sm);
  padding: 8px 20px;
  border: none;
  outline: none;
  border-radius: var(--radius);
  cursor: pointer;
  background-color: var(--primary-accent-clr);
  color: #ffffff;
  font-weight: 500;
  transition: filter var(--transition-time) ease;
}
html:not(.touch-device) #submit:hover,
html:not(.touch-device) .main-button:hover {
  filter: brightness(0.9);
}

.text-secondary {
  color: var(--secondary-text-clr);
}

.favorite-button {
  /* padding: 5px; */
  color: var(--secondary-accent-clr);
}

.favorite-button svg {
  width: 15px;
  height: 20px;
  /* object-fit: contain;
  object-position: center; */
}

.favorite-button.active svg {
  fill: currentColor;
}

html:not(.touch-device) .favorite-button:hover svg {
  fill: currentColor;
}

.overlay {
  position: fixed;
  inset: 0;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 90;
  display: none;
}

.scroll-to-top {
  position: fixed;
  bottom: 90px;
  left: 50%;
  border-radius: var(--radius-full);
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity var(--transition-time) ease;
  cursor: pointer;
  z-index: 80;
  color: var(--secondary-icon-clr);
}

/*#endregion GLOBAL */

/*#region SIDEBAR */

.sidebar {
  display: flex;
  position: fixed;
  top: 10px;
  left: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  z-index: 20;
  /* align-self: start; */
  min-width: var(--sidebar-width);
  min-height: calc(100vh - 20px);
  padding: 30px 20px;
  border: var(--border);
  border-radius: var(--radius);
  /* overflow: hidden; */
  background: var(--secondary-bg-clr);
  box-shadow: var(--shadow);
}

.sidebar a {
  position: relative;
}

html:not(.touch-device) .sidebar a:hover .sidebar__text {
  visibility: visible;
  max-width: 300px;
  padding-inline: 20px;
  opacity: 1;
}

.sidebar__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  background-color: var(--primary-accent-clr);
}

.sidebar__logo-icon {
}

.sidebar__nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 35px;
  width: 20px;
  padding: 0;
  list-style-type: none;
}

.sidebar__nav-link {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 10px;
  max-width: 20px;
}

.sidebar__nav-link svg {
  width: 100%;
  color: var(--secondary-icon-clr);
}

.sidebar__nav-link--active svg {
  color: var(--main-text-clr);
  fill: currentColor;
}

html:not(.touch-device) .sidebar__nav-link:hover svg,
html:not(.touch-device) .sidebar__profile:hover svg {
  color: var(--secondary-icon-clr);
  fill: currentColor;
}

.sidebar__text {
  background-color: var(--secondary-bg-clr);
  border: var(--border);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  padding-block: 8px;
  position: absolute;
  left: calc(100% + 10px);
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  max-width: 0;
  padding-inline: 0;
  overflow: hidden;
  color: var(--main-text-clr);
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  opacity: 0;
  transition: max-width var(--transition-time) ease,
    padding-inline var(--transition-time) ease,
    opacity var(--transition-time) ease;
}

.sidebar__profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: var(--secondary-icon-clr);
}

.sidebar__profile svg {
  width: 24px;
  height: 24px;
}

.sidebar__profile img {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*#endregion SIDEBAR */

/*#region TOPBAR */

.topbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--space-sm);
  z-index: 40;
}

.topbar svg {
  color: var(--secondary-icon-clr);
}

.topbar__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--space-sm);
}

.topbar__title {
  font-size: var(--fs-xl);
  line-height: 1;
  color: var(--third-text-clr);
  /* margin-right: auto; */
  text-transform: uppercase;
  /* background-color: var(--secondary-bg-clr); */
  /* border-radius: var(--radius); */
  /* padding-inline: 10px;
  padding-block: 8px;
  box-shadow: var(--shadow); */
  /* display: flex;
  align-items: center; */
  /* background-color: var(--secondary-bg-clr); */
  max-width: 15ch;
  margin-right: var(--space-sm);
}

.topbar__title span {
  /* white-space: nowrap;
  text-overflow: ellipsis; */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
  overflow: hidden;
  height: var(--fs-lg);
}

.author .topbar__title {
  max-width: 30ch;
}

.topbar__social {
  position: fixed;
  top: 10px;
  right: 0;
  min-width: var(--sidebar-width);
  color: var(--secondary-icon-clr);
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  justify-content: center;
  align-items: center;
  height: 100%;
}

.topbar__social a {
  display: flex;
  align-items: center;
  justify-content: center;
}

html:not(.touch-device) .topbar__social a:hover svg {
  fill: currentColor;
}

.topbar__theme-toggle {
  flex-shrink: 0;
  width: 34px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-full);
  box-shadow: var(--shadow);
  background-color: var(--secondary-bg-clr);
  transition: filter var(--transition-time) ease;
}

html:not(.touch-device) .topbar__theme-toggle:hover {
  filter: brightness(0.9);
}

.sun-and-moon {
  transition: rotate 0.5s ease;
}

.sun-and-moon > :is(.moon, .sun, .sun-beams) {
  transform-origin: center center;
}

.sun-and-moon > .sun {
  transition: 0.5s ease;
}

.sun-and-moon > .sun-beams {
  transition: 0.5s ease;
}

.sun-and-moon > .moon > circle {
  transition: 0.5s ease;
}

.dark-theme .sun-and-moon {
  rotate: 180deg;
}

.dark-theme .sun-and-moon > .sun {
  transform: scale(1.75);
}

.dark-theme .sun-and-moon > .sun-beams {
  opacity: 0;
}

.dark-theme .sun-and-moon > .moon > circle {
  transform: translateX(-7px);
}

.topbar__search-wrapper {
  display: flex;
  max-width: 250px;
  min-width: 200px;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
  height: 34px;
  font-size: var(--fs-md);
  line-height: 1;
  box-shadow: var(--shadow);
  background-color: var(--secondary-bg-clr);
  border-radius: var(--radius-full);
}

.topbar__search {
  border: none;
  width: 100%;
  background-color: transparent;
}

.topbar__search::placeholder {
  color: var(--secondary-text-clr);
}

/*#endregion TOPBAR */

/*#region MAIN */
.main {
  max-width: 1440px;
  min-height: 100svh;
  margin-inline: auto;
  padding-block: 10px;
  padding-left: calc(var(--sidebar-width) + 40px);
  padding-right: var(--sidebar-width);
  display: flex;
  flex-direction: column;
}

.container-grid .main__message {
  margin-inline: auto;
  grid-column: span 12;
  max-width: 400px;
  /* height: 100%; */
  margin-inline: auto;
  margin-top: var(--space-2xl);
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  /* padding: 10px; */
  grid-column: span 12;
  margin-bottom: var(--space-lg);
}

.container-grid .header {
  grid-column: 7 / span 6;
  grid-row: 1 / span 1;
  margin-bottom: 0;
  align-self: self-start;
  z-index: 10;
}

.container-grid .posts-container {
  grid-column: 1 / span 12;
  grid-row: 1 / auto;
  display: grid;
  gap: var(--space-md);
  grid-template-columns: subgrid;
}

.container-grid .load-more {
  grid-column: span 12;
  max-width: 300px;
  margin-inline: auto;
  margin-block: var(--space-lg);
}

/*#endregion MAIN */

/*#region POST */

.post {
  grid-column: span 4;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, auto);
}

.post__image-wrapper {
  grid-column: 1 / span 11;
  grid-row: 1 / span 8;
  border-radius: var(--radius);
  overflow: hidden;
  max-width: 100%;
  height: 260px;
  aspect-ratio: 17/9;
}

.post__image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-info__category ul {
  list-style: none;
}

.post-info {
  grid-column: 2 / span 11;
  grid-row: 8 / span 4;
  position: relative;
  border-radius: var(--radius);
  border: var(--border);
  background: var(--secondary-bg-clr);
  box-shadow: var(--shadow);
  display: flex;
  /* max-width: 410px; */
  height: 182px;
  flex-direction: column;
  overflow: hidden;
  z-index: 10;
  padding: 12px 20px;
  /* margin-inline: auto; */
  /* margin-top: -12%; */
}

.post-info__top {
  display: flex;
  width: 100%;
  align-items: center;
  gap: var(--space-sm);
  font-size: var(--fs-sm);
  line-height: 1.4;
  justify-content: space-between;
}

.post-info__meta {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.post-info__category {
  color: var(--secondary-accent-clr);
  font-weight: 500;
  text-transform: uppercase;
}

.post-info__separator {
  width: 15px;
  height: 1px;
  background-color: var(--secondary-text-clr);
}

.post-info__read-time {
  color: var(--secondary-text-clr);
  font-weight: 400;
}

.post-info__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: var(--fs-xl);
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-block: var(--space-lg);
}

.post-info__footer {
  display: flex;
  width: 100%;
  align-items: center;
  gap: var(--space-sm);
  font-size: var(--fs-md);
  /* font-weight: 500; */
  white-space: nowrap; /* Added this line */
  color: var(--secondary-text-clr, #c3c4c6);
  justify-content: space-between;
}

.post-info__author {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.post-info__author-image-wrapper {
  border-radius: var(--radius-full);
  flex-shrink: 0;
  overflow: hidden;
}

.post-info__author-image {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 36px;
}

.post-info__author-name {
  max-width: 17ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post__content {
  color: var(--third-text-clr);
}

.post__content .wp-block-heading {
  color: var(--main-text-clr);
}

.post__comments {
  margin-top: var(--space-md);
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

/*#region POST FULL */
.post__wrapper {
  display: grid;
  gap: var(--space-md);
  grid-template-columns: 1fr minmax(auto, 300px);
  align-items: start;
}

.post--full .post__image-wrapper {
  height: auto;
}

.post--full .post-info {
  margin-bottom: var(--space-md);
  grid-row: 6 / span 6;
}

.post__body {
  position: relative;
}

.post__sidebar {
  position: sticky;
  top: 10px;
  height: calc(100svh - 10px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  scrollbar-width: none;
  -ms-overflow-style: none;
  color: var(--third-text-clr);
}

.post__sidebar::-webkit-scrollbar {
  display: none;
}

.post__sidebar-trigger {
  display: none;
}

.post__nav {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.post__nav-link {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.post__nav-icon {
  flex-shrink: 0;
  width: 34px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.post__nav-title {
  font-size: var(--fs-md);
  line-height: 1;
  text-transform: uppercase;
  /* background-color: var(--secondary-bg-clr);
  border-radius: var(--radius); */
  padding-inline: 10px;
  padding-block: 8px;
  /* box-shadow: var(--shadow); */
  display: flex;
  align-items: center;
}

.post__nav-title span {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
  overflow: hidden;
  height: var(--fs-lg);
}

.post__headings {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  list-style: none;
  font-size: var(--fs-md);
  color: var(--third-text-clr);
}

.post__headings a {
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
  overflow: hidden;
  padding-left: 15px;
}

.post__headings a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 1px;
  background-color: var(--third-text-clr);
}

html:not(.touch-device) .post__headings a:hover {
  color: var(--primary-accent-clr);
}
html:not(.touch-device) .post__headings a:hover::before {
  background-color: var(--primary-accent-clr);
}

.post__tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);
  color: var(--secondary-accent-clr);
  font-weight: 500;
}

.post__tags > a::before {
  content: '#';
  margin-right: var(--space-xs);
}

.recommendations {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.recommendations .post__image-wrapper {
  grid-column: 1 / span 12;
  height: 100%;
}

.recommendations .post-info {
  grid-column: 1 / span 12;
}

#comments {
  .comment-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
  }

  /* .comment-body {
  display: flex;
  flex-direction: column;
  } */

  .comment-list .children {
    list-style: none;
    margin-top: var(--space-md);
    margin-left: var(--space-lg);
  }

  .comment-author {
    display: flex;
    gap: var(--space-sm);
    align-items: center;
    margin-bottom: var(--space-sm);
  }

  .comment-meta {
    font-size: var(--fs-sm);
    color: var(--secondary-text-clr);
  }

  .comment-author img {
    border-radius: var(--radius-full);
  }

  .comment-form-comment {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    margin-bottom: var(--space-md);
  }

  .comment-form-comment label {
    display: none;
  }
  .comment-form-comment textarea {
    border: var(--border);
    border-radius: var(--radius);
    background-color: var(--primary-bg-clr);
    resize: none;
    color: inherit;
    padding: var(--space-sm);
    outline: 1.5px solid transparent;
    transition: outline-color var(--transition-time) ease;
  }

  html:not(.touch-device) .comment-form-comment textarea:hover,
  .comment-form-comment textarea:focus {
    outline-color: var(--primary-accent-clr);
  }

  .comment-respond {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
  }

  .form-submit {
    display: flex;
    justify-content: flex-end;
  }

  .logged-in-as {
    display: none;
  }

  .reply {
    display: flex;
    justify-content: flex-end;
    color: var(--secondary-accent-clr);
    font-size: var(--fs-sm);
  }
}

.post-reactions {
  padding: var(--space-md);
  display: flex;
  gap: var(--space-sm);
  justify-content: center;
}

.like-button,
.dislike-button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  transition: all var(--transition-time) ease;
}

.thumbs-up-icon,
.thumbs-down-icon {
  width: 24px;
  height: 24px;
  fill: var(--third-text-clr);
  transition: all var(--transition-time) ease;
}

.likes-count,
.dislikes-count {
  margin-left: var(--space-sm);
  font-size: var(--fs-sm);
  color: var(--secondary-text-clr);
}

html:not(.touch-device) .like-button:hover .thumbs-up-icon,
.like-button.active .thumbs-up-icon {
  /* fill: #ff6b6b; */
  fill: var(--secondary-accent-clr);
  transform: scale(1.1);
}

html:not(.touch-device) .dislike-button:hover .thumbs-down-icon,
.dislike-button.active .thumbs-down-icon {
  fill: #4a4e69;
  transform: scale(1.1);
}

.like-button.pulse,
.dislike-button.pulse {
  animation: pulse var(--transition-time) ease;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/*#endregion POST FULL */
/*#endregion POST */

/*#region SLIDER */
.slider {
  position: relative;
}

.slider__container {
  display: flex;
  gap: var(--space-md);
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.slider__container::-webkit-scrollbar {
  display: none;
}

.slider__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--secondary-bg-clr);
  border: var(--border);
  border-radius: 50%;
  width: 34px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: var(--shadow);
  z-index: 30;
  transition: filter var(--transition-time) ease;
}

.slider__button--prev {
  left: -10px;
}

.slider__button--next {
  right: -10px;
}

html:not(.touch-device) .slider__button:hover {
  filter: brightness(0.9);
}

html.touch-device .slider__button {
  display: none;
}

.slider__button--hidden {
  display: none;
}

/*#endregion SLIDER */

/*#region CATEGORIES-PAGE */
.categories__section {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60px 0fr;
  margin-bottom: var(--space-lg);
  transition: grid-template-rows var(--transition-time) ease;
}

.categories__section--opened {
  grid-template-rows: 60px 1fr;
}

.categories__section .slider {
  overflow: hidden;
}

.categories__section--opened .categories__arrow-icon {
  transform: rotate(180deg);
}

.categories__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-md) var(--space-md);
  cursor: pointer;
}

.categories__title {
  font-size: var(--fs-lg);
  line-height: 1;
  color: var(--main-text-clr);
  text-transform: uppercase;
}

.categories__count {
  color: var(--secondary-text-clr);
  font-size: 0.9em;
}

.categories__arrow-icon {
  transition: transform var(--transition-time) ease;
}

.categories__slider-container {
  gap: var(--space-md);
  padding-block: var(--space-md);
}

.slider .post {
  scroll-snap-align: center;
  flex: 0 0 400px;
  max-width: 400px;
}

/*#endregion CATEGORIES-PAGE */

/*#region CATEGORIES-FILTER */

.categories-filter {
  display: flex;
  justify-content: flex-end;
}

.categories-filter__list {
  display: flex;
  gap: var(--space-sm);
}

.categories-filter__link {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  height: 34px;
  border-radius: var(--radius-full);
  background-color: var(--secondary-bg-clr);
  color: var(--third-text-clr);
  padding-inline: var(--space-sm);
  transition: filter var(--transition-time) ease;
}

html:not(.touch-device) .categories-filter__link:hover {
  filter: brightness(0.9);
}

.categories-filter__link.active {
  color: var(--secondary-text-clr);
  background-color: var(--main-text-clr);
}

/*#endregion CATEGORIES-FILTER */

/*#region PROFILE */

.profile {
}

.profile__title {
  font-size: var(--fs-xl);
  margin-bottom: var(--space-lg);
  text-align: center;
}

.profile__message-container {
  text-align: center;
  margin-bottom: var(--space-lg);
}

.profile__message--success {
  color: var(--primary-accent-clr);
}

.profile__message--error {
  color: var(--error-clr);
}

.profile__wrapper {
  display: flex;
  justify-content: space-between;
  gap: var(--space-lg);
  margin-bottom: var(--space-2xl);
}

.profile__avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-md);
  margin-bottom: var(--space-lg);
}

.profile__info {
  margin-bottom: 20px;
}

.profile__info-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile__info-list li {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.profile__info-value {
  color: var(--secondary-text-clr);
}

.profile__actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: end;
}

.profile__form-buttons {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: var(--space-sm);
}

.profile__actions-link--logout {
  color: var(--secondary-accent-clr);
}

html:not(.touch-device) .profile__actions-link:hover {
  filter: brightness(0.9);
}

.profile__posts-title {
  font-size: var(--fs-lg);
  margin-bottom: var(--space-lg);
}

.profile__posts-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--secondary-text-clr);
}

html:not(.touch-device) .profile__posts-list a:hover {
  text-decoration: underline;
  color: var(--primary-accent-clr);
}

.profile__avatar-upload--hidden,
.profile__submit-button--hidden {
  display: none;
}

/* /*.profile__edit-button  */

.profile__input {
  outline: 1.5px solid transparent;
  transition: outline-color var(--transition-time) ease;
  width: 100%;
  font-size: var(--fs-md);
  line-height: 1;
  border: none;
  border-radius: var(--radius);
  padding-inline: var(--space-md);
  padding-block: var(--space-sm);
  background-color: var(--primary-bg-clr);
}

.profile__input[disabled] {
  color: var(--secondary-text-clr);
}

.profile__input::placeholder {
  color: var(--secondary-text-clr);
}

html:not(.touch-device) .profile__input:not([disabled]):hover,
.profile__input:focus {
  outline-color: var(--primary-accent-clr);
}

.profile__input:disabled {
  border: none;
  background: transparent;
  padding: 0;
}

.profile__avatar-wrapper {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

.profile__avatar-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile__edit-button--red {
  background-color: var(--secondary-accent-clr);
}

/*#endregion PROFILE */

/*#region AUTH */

.authorize {
  padding: 10px calc(var(--sidebar-width) + 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.authorize__form {
  padding-inline: var(--space-2xl);
  padding-block: var(--space-lg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 400px;
  border-radius: var(--radius);
  border: var(--border);
  background: var(--secondary-bg-clr);
  box-shadow: var(--shadow);
  text-align: center;
}

.authorize__error-message {
  font-size: var(--fs-sm);
  color: var(--error-clr);
}

.authorize__description {
  font-size: var(--fs-sm);
  color: var(--secondary-text-clr);
}

.authorize__error-message a {
  text-decoration: underline;
}

.authorize__form-group,
.authorize__form-actions {
  width: 100%;
}

/* .authorize__form-group {
  display: flex;
  align-items: baseline;
  gap: var(--space-sm);
} */

.authorize__form-group label {
  font-size: var(--fs-sm);
  color: var(--secondary-text-clr);
  width: 100%;
  text-align: left;
}

.authorize__form input {
  outline: 1.5px solid transparent;
  transition: outline-color var(--transition-time) ease;
}

.authorize__form input:not([type='checkbox']) {
  width: 100%;
  font-size: var(--fs-md);
  line-height: 1;
  border: none;
  border-radius: var(--radius);
  padding-inline: var(--space-md);
  padding-block: var(--space-sm);
  background-color: var(--primary-bg-clr);
}

.authorize__form input::placeholder {
  color: var(--secondary-text-clr);
}

html:not(.touch-device) .authorize__form input:hover,
.authorize__form input:focus {
  outline-color: var(--primary-accent-clr);
}

.checkbox-label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-label .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: var(--radius);
  background-color: var(--primary-bg-clr);
  outline: 1.5px solid transparent;
  transition: outline var(--transition-time) ease;
}

html:not(.touch-device) .checkbox-label:hover input ~ .checkmark {
  outline-color: var(--primary-accent-clr);
}

.checkbox-label input:checked ~ .checkmark {
  background-color: var(--primary-accent-clr);
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.checkbox-label input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-label .checkmark:after {
  left: 6.7px;
  top: 3.4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.authorize__form-button {
  margin-block: var(--space-sm);
}

.authorize__form-links {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.authorize__form-links a {
  font-size: var(--fs-sm);
  color: var(--secondary-text-clr);
  transition: color var(--transition-time) ease;
}

html:not(.touch-device) .authorize__form-links a:hover {
  text-decoration: underline;
  color: var(--primary-accent-clr);
}

/*#endregion AUTH */

/*#region WP */
.wp-block-heading {
  margin-bottom: var(--space-xs);
}

.wp-block-heading:not(:first-of-type) {
  margin-top: var(--space-xl);
}

.wp-block-list {
  padding-left: var(--space-lg);
  margin-bottom: var(--space-md);
}

.wp-block-code {
  font-family: 'Fira Code', monospace;
  font-size: var(--fs-sm);
  line-height: 1.5;
  padding: var(--space-md);
  color: var(--main-text-clr);
  border-left: 4px solid var(--primary-accent-clr);
}

/*#endregion WP */

/*#region CUSTOM SELECT */
.custom-select-wrapper {
  position: relative;
  user-select: none;
  width: 200px;
  align-self: flex-end;
}

.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--third-text-clr);
}

.custom-select__trigger {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  justify-content: space-between;
  padding-block: 0;
  padding-inline: var(--space-sm);
  font-size: var(--fs-md);
  height: 34px;
  line-height: 34px;
  cursor: pointer;
}

.custom-select .custom-options {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-sm);
  top: calc(100% + var(--space-sm));
  left: 0;
  right: 0;
  transition: opacity var(--transition-time) ease,
    visibility var(--transition-time) ease;
  height: auto;
  padding-block: var(--space-sm);
  padding-inline: var(--space-sm);
  opacity: 0;
  font-weight: 300;
  visibility: hidden;
  pointer-events: none;
  z-index: 40;
}

.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.custom-option {
  cursor: pointer;
  font-size: var(--fs-md);
  cursor: pointer;
  transition: color var(--transition-time) ease;
}

.custom-option.selected {
  color: var(--main-text-clr);
}

.custom-option:hover {
  color: var(--primary-accent-clr);
}

.custom-select__arrow {
  height: 20px;
  width: 20px;
  transition: transform var(--transition-time) ease;
  transform: rotate(-90deg);
}
.open .custom-select__arrow {
  transform: rotate(-270deg);
}
/*#endregion CUSTOM SELECT */
/*#region MEDIA QUERIES */

@media (width >= 1200px) {
  .container-grid > .posts-container > article:nth-of-type(1) {
    grid-column: 1 / span 6;
    grid-row: 1 / span 2;
    grid-template-columns: repeat(18, 1fr);
    align-self: end;
    /* margin-bottom: var(--space-sm); */
  }

  .container-grid
    > .posts-container
    > article:nth-of-type(1)
    .post__image-wrapper {
    height: 100%;
    min-height: 400px;
    grid-row: 1 / span 11;
    grid-column: 1 / span 18;
    object-fit: cover;
    object-position: center;
  }

  .container-grid > .posts-container > article:nth-of-type(1) .post-info {
    /* margin: -170px 0 0 15px; */
    grid-column: 2 / span 11;
    grid-row: 9 / span 4;
  }

  .container-grid > .posts-container > article:nth-of-type(2) {
    grid-column: 7 / span 6;
    grid-row: 1 / span 2;
    align-self: end;
    /* max-height: 310px; */
    /* margin-bottom: var(--space-sm); */
  }

  .container-grid
    > .posts-container
    > article:nth-of-type(2)
    .post__image-wrapper {
    width: 330px;
    /* aspect-ratio: 4/3; */
    grid-row: 1 / span 11;
    grid-column: 1 / span 8;
    /* height: auto;
  min-height: 200px;
  min-width: 250px; */
  }

  .container-grid > .posts-container > article:nth-of-type(2) .post-info {
    /* margin-bottom: -10px; */
    /* margin-left: -100px; */
    grid-row: 9 / span 4;
    grid-column: 5 / span 9;
  }
}

@media (width <= 1200px) {
  .container-grid .header {
    grid-column: span 12;
    justify-content: center;
  }

  .container-grid > .posts-container {
    grid-row: 2 / auto;
  }

  .post {
    grid-column: span 6;
  }

  /* .container-grid > article:nth-of-type(1) {
    grid-column: span 12;
    grid-row: auto;
  }

  .container-grid > article:nth-of-type(1) .post__image-wrapper {
    aspect-ratio: 16/9;
    height: auto;
  }

  .container-grid > article:nth-of-type(2) {
    grid-column: span 6;
    max-height: 100%;
    display: block;
    margin-bottom: 0;
  }

  .container-grid > article:nth-of-type(2) .post__image-wrapper {
    aspect-ratio: 16/9;
    min-height: 260px;
    width: auto;
  }

  .container-grid > article:nth-of-type(2) .post-info {
    margin-bottom: 0;
    margin-inline: auto;
  } */

  .categories {
    display: flex;
    align-items: center;
    min-height: 40px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .categories::-webkit-scrollbar {
    display: none;
  }

  .categories__list {
    flex-wrap: nowrap;
    width: fit-content;
  }

  .categories__link {
    box-shadow: none;
  }

  .categories__link--hidden {
    display: flex;
  }
  #categories-toggle {
    display: none;
  }
}

@media (width >= 1000px) {
  .post__body .scroll-to-top {
    left: calc(50% - 150px);
  }
}

@media (width <= 1000px) {
  .post__wrapper {
    grid-template-columns: 100%;
  }

  .post__sidebar {
    position: fixed;
    width: 300px;
    right: -300px;
    transition: right var(--transition-time) ease;
    z-index: 100;
    height: calc(100vh - 10px);
  }

  .post__sidebar.active + .overlay {
    display: block;
  }

  .post__sidebar.active {
    right: 0;
  }

  .post__sidebar-trigger {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 34px;
    height: 34px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: right var(--transition-time) ease;
  }

  .post__sidebar-trigger svg {
    transition: fill var(--transition-time) ease;
  }

  .post__sidebar.active .post__sidebar-trigger {
    right: calc(300px + 20px);
  }

  html:not(.touch-device) .post__sidebar-trigger:hover svg,
  .post__sidebar.active .post__sidebar-trigger svg {
    fill: currentColor;
  }
}

@media (width <= 800px) {
  .main,
  .authorize {
    padding-inline: 10px;
    padding-bottom: 90px;
  }

  .main > .topbar {
    grid-column: span 12;
    justify-content: center;
  }

  .topbar__social {
    /* top: 60px; */
    background-color: var(--secondary-bg-clr);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    gap: var(--space-lg);
    height: 34px;
    padding-inline: 10px;
    position: static;
    flex-direction: row;
  }

  .sidebar {
    display: flex;
    position: fixed;
    /* top: calc(100svh - 70px); */
    top: auto;
    bottom: 10px;
    left: 10px;
    flex-direction: row;
    /* align-self: start; */
    min-width: calc(100vw - 20px);
    max-width: calc(100vw - 20px);
    min-height: 60px;
    max-height: 60px;
    padding: 10px 20px;
  }

  .sidebar__nav-menu {
    flex-direction: row;
    width: auto;
  }

  .sidebar a:hover .sidebar__text {
    display: none;
  }

  .slider .post {
    flex: 0 0 300px;
  }
}

@media (width <= 650px) {
  .topbar {
    flex-wrap: wrap;
  }

  .single .topbar__wrapper {
    flex-basis: 100%;
    max-width: 100%;
  }

  .main .post {
    grid-column: span 12;
  }

  /* .container-grid > article:nth-of-type(1) {
    margin-bottom: 0;
  }

  .container-grid > article:nth-of-type(1) .post__image-wrapper {
    height: auto;
    min-height: 260px;
  }

  .container-grid > article:nth-of-type(1) .post-info {
    margin-top: -12%;
    margin-inline: auto;
  }

  .container-grid > article:nth-of-type(2) {
    grid-column: span 12;
  } */

  .post__image-wrapper {
    /* max-width: 100%;
    margin-inline: auto; */
    height: auto;
    aspect-ratio: 16/9;
  }
}

@media (width <= 450px) {
  .topbar__search-wrapper {
    max-width: 100%;
    width: 100%;
  }
  .profile__wrapper {
    flex-direction: column;
  }
  .profile__actions {
    align-items: center;
  }
  .profile__form-buttons {
    align-items: center;
  }
}

/*#endregion MEDIA QUERIES */

/*#region VISIBILITY */

.visible {
  opacity: 1;
  visibility: visible;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
/*#endregion VISIBILITY */
